*{
    margin: 0;
    padding: 0;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    height: auto;
  }
  
  td, th {
    border: 1px solid #ddd;
    text-align: center;
    padding: 8px;

    

  }
  
  tr:nth-child(even) {
    background-color: #949292;

  }

  table button{
    padding: 0 15px;
    border-radius: 25px;
  }

.tabletitle{    
  text-align: center;
  margin-bottom: 5px;
  font-size: 50px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 700;
  }



#errorlist{
  background-color: rgba(78, 76, 76, 0.656);
  color: rgb(0, 0, 0);
}